body{
    background-image: url("../images/mine.jpg");
    background-repeat: no-repeat;
    background-position: center;    
    /* background-size: 100% 100%; */
    background-size: cover;
    height: auto;
    width: 100%;
    overflow: hidden;
}

/* h5{
    width: 300px;
    margin-left: 5px;
    line-height: 2.5px;
    
} */

.howToPlay{
    background-color: wheat;
    margin: 5px;
    width: 25%;
    padding-top: 25px;
    padding-bottom: 5%;
    margin-left: 20px;
    
    color: green;
}
.name{
    background-color: chocolate;
    margin: 5px;
    width: 15%;
    padding-top: .5%;
    margin-left: 20px;
    padding-bottom: .5%;
    color: white;
}
.goal{
    background-color: rgb(86, 165, 86);
    width: 15%;
    margin-left: 20px;
    
}
.gamecount{
    width: 10%;
    height: 40px;
    margin-left: 20px;    
    background-color: rgb(62, 197, 179);
}
.score{
    float: left;
    width: 100%;
    height: 50px;
    width: 15%;
    color: white;
    margin-left: 20px;
    background-color: teal;
}
.crystal{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    /* margin: 20px 0 20px 10px; */

}
